<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
<br> 

<h1>Administración de usuarios</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Cédula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Contraseña</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!-- Iteración sobre los datos de usuarios -->
        {{#each data}}
        <tr>
            <!-- Datos de cada usuario -->
            <td>{{ID_Usuarios}}</td>
            <td>{{Nombre}}</td>
            <td>{{Apellidos}}</td>
            <td>{{Correo}}</td>
            <td>{{Contrasena}}</td>
            <!-- Acciones para editar el usuario -->
            <td>
                <a href="/editarEstudiante/{{ID_Usuarios}}" class="btn btn-primary">Editar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
